/*Import des fonts*/
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  max-width: 95%;
  margin: 0 auto;
  background-color: #FFFBF5;
  font-family: 'Urbanist', sans-serif;
}

h1 {
 font-size: 3em;
 font-weight: 700;
 color: #170F70;
}
h2 {
  font-size: 2em;
  font-weight: 200;
  color: #FF4E07;
}

/*        [ NAVBAR ]        */
.navbar_container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0.5em;
  color: #170F70;
  font-size: 1.3em;
  font-weight: 300;
  margin: 17px 15px 0 0;
}
.navbar_container :link {
  text-decoration: none;
}
.navbar_container :hover {
  color: #FF4E07;
}
.navbar_container :active {
  color: #FF4E07;
}
.navbar_container :focus {
  color: #FF4E07;
}

/*        [ HOME COMPONENT ]        */
.presentation_container {
  width: 60%;
  margin: 0 auto;
}
.presentation_head h2 {
  padding-left: 5.2em;
}
.presentation {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.presentation_txt {
  font-family: 'Anonymous Pro', monospace;
  text-align: justify;
  background-color: #EEDCCC;
  /* width: 43%; */
  border-radius: 25px;
  padding: 8px 18px;
  color: #5810A5;
}
.presentation_photo {
  width: 35%;
  clip-path: ellipse(50% 39%);
}

/*        [ CONTACT COMPONENT ]        */
form {
  display: flex;
  flex-direction: column;
}
input::placeholder {
  color: rgb(23, 15, 112, 0.4);
  letter-spacing: 0.13em;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 1.5em;
}
textarea::placeholder {
  color: rgb(23, 15, 112, 0.4);
  letter-spacing: 0.13em;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 1.5em;
}
input, textarea {
  background-color: #FFFBF5;
  color: #170F70;
  /* font-family: 'Anonymous Pro', monospace; */
  border-radius: 15px;
  border: none;
  height: 3em;
  padding: 8px 0 8px 14px;
  margin-bottom: 15px;
}
button {
  border-radius: 0 0 25px 25px;
  border: none;
  box-sizing: border-box;
  background-color: #170F70;
  color: #EEDCCC;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 1.6em;
  padding: 12px 0;
}
.contact {
  margin: 2% auto;
  background-color: #EEDCCC;
  border-radius: 25px;
  width: 70%;
  padding: 3em;
  box-shadow: 0px 4px 12px rgba(23, 15, 112, 0.82);
}
.Trex {
  width: 8em;
  transform: scaleX(-1);
  opacity: 50%;
}

/*        [ FOOTER ]        */
.footer {
  background-color: #EEDCCC;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 500;
  max-height: 3em;
  max-width: 100%;
}